{% extends "layouts/dashboardBase.html" %}
  {% block title %} {% if title %} {{ title }} {% else %} SACOETEC || Event Face Recongition System {% endif %}
{%endblock %}

{% block content %}
{% if viewType == "STUDENTS Attendance"%}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body mt-auto">
        <div class="card-header">
          <h2 class="card-title">Face Verfication</h2>
        </div>
        <div class="card-body text-center mt-4">

          <div id="video-container" class="form-group">
            <!-- Webcam Video -->
            <video id="video" width="450" class="img-fluid" height="100%" style="border-radius: 10%;" autoplay></video>
            <p id="countdown"></p>
          </div>

          <div class="form-group">
            <!-- Canvas to Capture Image -->
            <canvas id="canvas" style="display: none;"></canvas>
          </div>

          <div class="mt-3">
            <p id="status"></p>
          </div>

          <div class="mt-3 d-flex justify-content-center align-items-center">
            <!-- Capture & Submit Buttons -->
            <button class="btn bg-info text-white btn-lg font-weight-medium auth-form-btn me-2" id="capture">Capture Face</button>
            <button class="btn bg-info text-white btn-lg font-weight-medium auth-form-btn ms-2" id="submit" style="display: none;">Verify Face</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Suceessfull_Verification" %}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body mt-auto">
        <div class="text-center">
          <div class="card-body text-center">
            <img alt="suceessfull" src="{{ url_for('views.static', filename='images/success.png') }}" class="img-fluid" style="width: 250px;">
            <h1 class="mt-3 text-primary fw-bold">Done</h1>
            <p class="lead">Your attendance has the marked successfully. Click on <b>Go Home</b> to login back to your dashboard</p>
            <a href="{{ url_for('views.clientDashboard', userRole=userRole) }}" class="btn btn-link btn-lg fs-2 fw-bold mt-3" style="font-size: 1.4rem;font-weight: 800;">Go Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "events_page" %}
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body mt-auto">
        <div class="text-center">

          <div class="datepicker">
            <div class="datepicker-top">
              <div class="month-selector">
                <button
                  class="btn btn-primary btn-sm active arrow prev-month"
                >
                  <i class="mdi mdi-chevron-left"></i>
                </button>
                <span class="month-name"></span>
                <button
                  class="btn btn-primary btn-sm active arrow next-month"
                >
                  <i class="mdi mdi-chevron-right"></i>
                </button>
              </div>
            </div>
            <div class="datepicker-calendar">
              <div
                class="days-container"
                data-uid="{{ user_uid }}"
                data-role="{{ userRole }}"
              ></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="row">
      <h3 class="card-title">Upcomming Events</h3>
      {% if upcomming_events %}
        {% for item in upcomming_events %}
        <div class="col-md-12 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <a href="{{ url_for('views.locate_venue', userRole=userRole, details='locate_user', venue_bind_id=item[0].event_bind_id )}}" class="card-body text-white">
                <h4 class="mb-2"><b>Title: </b> {{ item[0].event_title }}</h4>
                <h4 class="mb-2"><b>Venue : </b> {{ item[1].venue_name }}</h4>
                <h4 class="mb-2"><b>Date: </b>{{ item[0].event_date.strftime('%Y-%m-%d') }}</h4>
                <h4 class="mb-2"><b>Time: </b>{{ item[0].event_time.strftime('%H:%M %p') }}</h4>
            </a>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col-lg-12 mt-4 text-center">
        <h3 class="card-title text-danger">No Upcomming Events</h3>
      </div>
      {% endif %}
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Events</p>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <div
                id="example_wrapper"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6"></div>
                  <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table
                      id="example"
                      class="display expandable-table dataTable no-footer"
                      style="width: 100%"
                      role="grid"
                    >
                      <thead>
                        <tr role="row">
                          <th
                            class="select-checkbox sorting_disabled"
                            rowspan="1"
                            colspan="1"
                            style="width: 86.7333px"
                            aria-label="Quote#"
                          >
                            S/N#
                          </th>
                          <th
                            class="sorting_asc"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 102px"
                            aria-sort="ascending"
                            aria-label="Product: activate to sort column descending"
                          >
                            Event Title
                          </th>
                          
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 88.2px"
                            aria-label="Status: activate to sort column ascending"
                          >
                            Status
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 163.283px"
                            aria-label="Business type: activate to sort column ascending"
                          >
                            Date
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 154.983px"
                            aria-label="Policy holder: activate to sort column ascending"
                          >
                            Time
                          </th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_new_evenets %}
                        {% for event in all_new_evenets %}
                        <tr class="odd">
                          <td valign="top" class="dataTables_empty">
                            {{ loop.index }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_title }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_status }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_date.strftime('%Y-%m-%d') }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_time.strftime('%H:%M %p') }}
                          </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="odd">
                          <td valign="top" colspan="5" class="dataTables_empty text-danger">
                            No events listed.
                          </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5"></div>
                  <div class="col-sm-12 col-md-7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin Register Venue"%}
<div class="row">
  <div class="col-md-8 my-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Map View</p>
        <div class="my-3" id="alertContainer"></div>
        <div id="mapContainer" style="width: 100%; height: 450px;"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 my-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-end">
          {% if event_details and event_details.event_status == "pending" %}
            <h1><span class="badge text-bg-warning">{{ event_details.event_status }}</span></h1>
          {% elif event_details and event_details.event_status == "started" %}
            <h1><span class="badge text-bg-success">{{ event_details.event_status }}</span></h1>
          {% elif event_details and event_details.event_status == "done" %}
            <h1><span class="badge text-bg-primary">{{ event_details.event_status }}</span></h1>
          {% endif %}
        </div>
        {% if details == "viewVenue" and venue_details %}

         <div id="location_details" data-longitude="{{ venue_details.longitude }}" data-latitude="{{ venue_details.latitude }}" class="mt-3">
            <label for="venueName" class="form-label">Name Of Venue</label>
            <input type="text" class="form-control" id="venueName" value="{{ venue_details.venue_name }}" readonly>
          </div>
          <div class="mt-3">
            <label for="venueDesc" class="form-label">Description Of Venue</label>
            <input type="text" class="form-control" id="venueDesc" value="{{ venue_details.venue_desc }}" readonly>
          </div>

          <div class="mt-3">
            <label for="venueAddress" class="form-label">Official Address Of Venue</label>
            <input type="text" class="form-control" id="venueAddress" value="{{ venue_details.venue_address }}" readonly>
          </div>

          <div class="mt-3">
            <label for="venueAddress" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="latitude" value="{{ venue_details.latitude }}" readonly>
          </div>

          <div class="mt-3">
            <label for="venueAddress" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="longitude" value="{{ venue_details.longitude }}" readonly>
          </div>
        {% elif (details == "viewEvent" or details == "locate_user")  and venue_details and event_details  %}
          <div class="border-bottom pb-2" id="destination" data-longitude="{{ venue_details.longitude }}" data-latitude="{{ venue_details.latitude }}">
            <h1 class="card-title">Direction: <span class="text-primary">101 meters left</span></h1>
          </div>
          <div class="mt-3">
            <label for="venueAddress" class="form-label">Event Title</label>
            <input type="text" class="form-control" id="event_tile" value="{{ event_details.event_title }}" readonly>
          </div>
          <div class="mt-3">
            <label for="venueAddress" class="form-label">Event Description</label>
            <input type="text" class="form-control" id="event_desc" value="{{ event_details.event_description }}" readonly>
          </div>
          <div class="mt-3">
            <label for="venueAddress" class="form-label">Event Date</label>
            <input type="text" class="form-control" id="event_date" value="{{ event_details.event_date }}" readonly>
          </div>
          <div class="mt-3">
            <label for="venueAddress" class="form-label">Event Time</label>
            <input type="text" class="form-control" id="event_time" value="{{ event_details.event_time }}" readonly>
          </div>
          <div class="mt-3">
            <label for="venueAddress" class="form-label">Department</label>
            <input type="text" class="form-control" id="department" value="{{ event_details.department }}" readonly>
          </div>
          <div class="mt-3">
            <label for="venueAddress" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" value="{{ event_details.level }} Level" readonly>
          </div>
          <div id="location_details" data-longitude="{{ venue_details.longitude }}" data-latitude="{{ venue_details.latitude }}" class="mt-3">
            <label for="venueName" class="form-label">Venue</label>
            <input type="text" class="form-control" id="venueName" value="{{ venue_details.venue_name }}" readonly>
          </div>
          <div class="mt-3">
            <label for="venueAddress" class="form-label">Official Address Of Venue</label>
            <input type="text" class="form-control" id="venueAddress" value="{{ venue_details.venue_address }}" readonly>
          </div>
        {% else%}
        <p class="card-title">Register Venue</p>
        <div class="mt-4">        
          <h4 class="mb-2"> <span class="text-primary">Latitude:</span> <span id="lat">Fetching...</span></h4>
          <h4 class="mb-2">  <span class="text-primary">Longitude</span>: <span id="lng">Fetching...</span></h4>
        </div>
        <div id="errorContainer"></div>
        <form id="venueForm">
          <div class="mt-3">
            <label for="venueName" class="form-label">Name Of Venue</label>
            <input type="text" class="form-control" id="venueName" placeholder="Name of Venue">
          </div>
          <div class="mt-3">
            <label for="venueDesc" class="form-label">Description Of Venue</label>
            <input type="text" class="form-control" id="venueDesc" placeholder="Description of Venue">
          </div>

          <div class="mt-3">
            <label for="venueAddress" class="form-label">Official Address Of Venue</label>
            <input type="text" class="form-control" id="venueAddress" placeholder="Official Address of Venue">
          </div>
          <div class="text-end mt-4">
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <button type="submit" id="submitBtn" class="btn btn-primary btn-lg">Submit Location</button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin All Venue" %}
<div class="row">
  <div class="col-md-12 my-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">All Registered Venues</p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th class="text-center" scope="col">Venue Name</th>
              <th class="text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if all_venues %}
              {% for venue in all_venues %}
            <tr>
              <th scope="row">
                <a href="/admin/page/upload-Venue/viewVenue/{{ venue.venue_bind_id }}">{{ loop.index }}</a>
              </th>
              <td>
                <a href="/admin/page/upload-Venue/viewVenue/{{ venue.venue_bind_id }}">{{ venue.venue_name }}</a>
              </td>
              <td class="text-center">
                <a href="/admin/page/upload-Venue/viewVenue/{{ venue.venue_bind_id }}" class="btn btn-primary btn-lg">
                  View
                </a>
              </td>
            </tr>
              {% endfor %}
            {% else %}
            <tr>
              <th class="text-danger">No data stored</th>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin Upload-Event" %}
<div class="row">
  <div class="col-md-12 my-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Upload Event</p>

        <form action="{{ url_for('adminViews.upload_event') }}" method="POST">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.event_title.label(class="form-label") }}
            {{ form.event_title(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.event_description.label(class="form-label") }}
            {{ form.event_description(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.event_date.label(class="form-label") }}
            {{ form.event_date(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.event_time.label(class="form-label") }}
            {{ form.event_time(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.department.label(class="form-label") }}
            {{ form.department(class="form-select form-select-lg ") }}
          </div>
          <div class="mb-3">
            {{ form.level.label(class="form-label") }}
            {{ form.level(class="form-select") }}
          </div>
          <div class="mb-3">
            {{ form.venue.label(class="form-label") }}
            {{ form.venue(class="form-select") }}
          </div>
          <div class="mb-3">
            {{ form.submit }}
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin All Events" %}
<div class="row">
  <div class="col-md-12 my-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">All Events</p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th class="text-center" scope="col"> Events Title</th>
              <th class="text-center" scope="col"> Department</th>
              <th class="text-center" scope="col"> Level</th>
              <th class="text-center" scope="col"> Status</th>
              <th class="text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if all_events and details and details == "attendance" %}
              {% for event in all_events %}
            <tr>
              <th scope="row">
                <a href="/admin/page/attendance-sheet/{{ event.event_bind_id }}">{{ loop.index }}</a>
              </th>
              <td>
                <a href="/admin/page/attendance-sheet/{{ event.event_bind_id }}">{{ event.event_title }}</a>
              </td>
              <td>
                <a href="/admin/page/attendance-sheet/{{ event.event_bind_id }}">{{ event.department }}</a>
              </td>
              <td>
                <a href="/admin/page/attendance-sheet/{{ event.event_bind_id }}">{{ event.level }}</a>
              </td>
              <td>
                <a href="/admin/page/attendance-sheet/{{ event.event_bind_id }}">
                  {% if event.event_status == "pending" %}
                  <h1><span class="badge text-bg-warning">{{ event.event_status }}</span></h1>
                  {% elif event.event_status == "started" %}
                  <h1><span class="badge text-bg-success">{{ event.event_status }}</span></h1>
                  {% elif event.event_status == "done" %}
                  <h1><span class="badge text-bg-primary">{{ event.event_status }}</span></h1>
                  {% endif %}
                </a>
              </td>
              <td class="text-center">
                <a href="/admin/page/attendance-sheet/{{ event.event_bind_id }}" class="btn btn-primary btn-lg">
                  View
                </a>
              </td>
            </tr>
              {% endfor %}
            {% elif all_events %}
               {% for event in all_events %}
            <tr>
              <th scope="row">
                <a href="/admin/page/upload-Venue/viewEvent/{{ event.event_bind_id }}">{{ loop.index }}</a>
              </th>
              <td>
                <a href="/admin/page/upload-Venue/viewEvent/{{ event.event_bind_id }}">{{ event.event_title }}</a>
              </td>
              <td>
                <a href="/admin/page/upload-Venue/viewEvent/{{ event.event_bind_id }}">{{ event.department }}</a>
              </td>
              <td>
                <a href="/admin/page/upload-Venue/viewEvent/{{ event.event_bind_id }}">{{ event.level }}</a>
              </td>
              <td>
                <a href="/admin/page/upload-Venue/viewEvent/{{ event.event_bind_id }}">
                  {% if event.event_status == "pending" %}
                  <h1><span class="badge text-bg-warning">{{ event.event_status }}</span></h1>
                  {% elif event.event_status == "started" %}
                  <h1><span class="badge text-bg-success">{{ event.event_status }}</span></h1>
                  {% elif event.event_status == "done" %}
                  <h1><span class="badge text-bg-primary">{{ event.event_status }}</span></h1>
                  {% endif %}
                </a>
              </td>
              <td class="text-center">
                <a href="/admin/page/upload-Venue/viewEvent/{{ event.event_bind_id }}" class="btn btn-primary btn-lg">
                  View
                </a>
              </td>
            </tr>
              {% endfor %}
            {% else %}
            <tr>
              <th class="text-danger">No data stored</th>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin Attendance" %}
<div class="row">
  <div class="col-md-12 my-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Events Attendances</p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th class="text-center" scope="col"> Name</th>
              <th class="text-center" scope="col"> Attendance Status</th>
              <th class="text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if event_attendance %}
              {% for attendancee in event_attendance %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ attendancee.name }}</td>
              <td>Test</td>
              <td class="text-center">
                <button type="button" disabled class="btn btn-primary btn-lg">
                  Action
                </button>
              </td>
            </tr>
              {% endfor %}
            {% else %}
            <tr>
              <th class="text-danger">No data stored</th>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
