{% extends "layouts/dashboardBase.html" %} 
  {% block title %} {% if title %} {{ title }} {% else %} SACOETEC || Event Face Recongition System {% endif %} 
{%endblock %} 

{% block content %}
{% if viewType == "STUDENTS Dashboard"%}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Welcome {{ user_data.name }}</h3>
        <h6 class="font-weight-normal mb-0">
          Last Logged In:
          <span class="text-primary">{{ formatted_previous_last_logged_in }}</span>
        </h6>
      </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card tale-bg">
      <div class="card-people mt-auto">
        <img src="{{ url_for('views.static', filename='images/dashboard/people.svg') }}" alt="people" />
        <div class="weather-info">
          <div class="d-flex">
            <div>
              <h2 class="mb-0 font-weight-normal">
                <i class="icon-sun mr-2"></i>31<sup>C</sup>
              </h2>
            </div>
            <div class="ml-2">
              <h4 class="location font-weight-normal">Ogun State</h4>
              <h6 class="font-weight-normal">Nigeria</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin transparent">
    <div class="row">
     <h3 class="card-title">Upcomming Events</h3>
      {% if upcomming_events %}
        {% for item in upcomming_events %}
        <div class="col-md-12 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <a href="{{ url_for('views.locate_venue', userRole=userRole, details='locate_user', venue_bind_id=item[0].event_bind_id )}}" class="card-body text-white">
                <h4 class="mb-2"><b>Title: </b> {{ item[0].event_title }}</h4>
                <h4 class="mb-2"><b>Venue : </b> {{ item[1].venue_name }}</h4>
                <h4 class="mb-2"><b>Date: </b>{{ item[0].event_date.strftime('%Y-%m-%d') }}</h4>
                <h4 class="mb-2"><b>Time: </b>{{ item[0].event_time.strftime('%H:%M %p') }}</h4>
            </a>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col-lg-12 mt-4 text-center">
        <h3 class="card-title text-danger">No Upcoming Events</h3>
      </div>
      {% endif %}

      
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand"><div class=""></div></div>
          <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
        </div>
        <p class="card-title">Calendar</p>

        <div class="datepicker">
          <div class="datepicker-top">
            <div class="month-selector">
              <button
                class="btn btn-primary btn-sm active arrow prev-month"
              >
                <i class="mdi mdi-chevron-left"></i>
              </button>
              <span class="month-name"></span>
              <button
                class="btn btn-primary btn-sm active arrow next-month"
              >
                <i class="mdi mdi-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="datepicker-calendar">
            <div
              class="days-container"
              data-uid="{{ user_uid }}"
              data-role="{{ userRole }}"
            ></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body card-dark-blue">
        <div class="text-center">
          <img class="rounded-circle mb-3" style="border-radius: 50%; object-fit: cover;" src="{{ user_info.photo_url }}" width="100" height="100" alt="user">
          <h3 class="card-title text-center" style="">{{ user_data.name }}</h3>
        </div>
        <div class="table-responsive">
          <table class="table dashboard-tab">
            <tbody>
              <tr>
                <th>Email</th>
                <th>{{ user_data.email }}</th>
              </tr>
              <tr>
                <th>Martic Number</th>
                <th>{{ user_info.marticno }}</th>
              </tr>
              <tr>
                <th>Program</th>
                <th>{{ user_info.program }}</th>
              </tr>
              <tr>
                <th>Department</th>
                <th>{{ user_info.dept }}</th>
              </tr>
              <tr>
                <th>Level</th>
                <th>{{ user_info.level }}</th>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Events</p>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <div
                id="example_wrapper"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6"></div>
                  <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table
                      id="example"
                      class="display expandable-table dataTable no-footer"
                      style="width: 100%"
                      role="grid"
                    >
                      <thead>
                        <tr role="row">
                          <th
                            class="select-checkbox sorting_disabled"
                            rowspan="1"
                            colspan="1"
                            style="width: 86.7333px"
                            aria-label="Quote#"
                          >
                            S/N#
                          </th>
                          <th
                            class="sorting_asc"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 102px"
                            aria-sort="ascending"
                            aria-label="Product: activate to sort column descending"
                          >
                            Event Title
                          </th>
                          
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 88.2px"
                            aria-label="Status: activate to sort column ascending"
                          >
                            Status
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 163.283px"
                            aria-label="Business type: activate to sort column ascending"
                          >
                            Date
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            style="width: 154.983px"
                            aria-label="Policy holder: activate to sort column ascending"
                          >
                            Time
                          </th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_new_evenets %}
                        {% for event in all_new_evenets %}
                        <tr class="odd">
                          <td valign="top" class="dataTables_empty">
                            {{ loop.index }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_title }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_status }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_date.strftime('%Y-%m-%d') }}
                          </td>
                          <td valign="top" class="dataTables_empty">
                            {{ event.event_time.strftime('%H:%M %p') }}
                          </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="odd">
                          <td valign="top" colspan="5" class="dataTables_empty text-danger">
                            No events listed.
                          </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5"></div>
                  <div class="col-sm-12 col-md-7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin Dashboard" %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Welcome {{ user_data.name }}</h3>
        <h6 class="font-weight-normal mb-0">
          Last Logged In:
          <span class="text-primary">{{ formatted_previous_last_logged_in }}</span>
        </h6>
      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-4 mb-xl-0 stretch-card transparent">
        <div class="card card-dark-blue">
          <a href="{{ url_for('adminViews.venue_overview') }}" class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div>
                <p class="mb-4">Total Venues</p>
                <p class="fs-30 mb-2">61344</p>
              </div>
              <div>
                <i class="ti ti-location-pin" style="font-size: 2rem"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-4 mb-xl-0 stretch-card transparent">
        <div class="card card-dark-blue">
          <a href="/admin/page/events-overview" class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div>
                <p class="mb-4">Total Events</p>
                <p class="fs-30 mb-2">61344</p>
              </div>
              <div>
                <i class="ti ti-calendar" style="font-size: 2rem"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-4 mb-xl-0 stretch-card transparent">
        <div class="card card-dark-blue">
          <a href="/admin/page/all-events/attendance" class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div>
                <p class="mb-4">Attendance Sheet</p>
                <p class="fs-30 mb-2">NULL</p>
              </div>
              <div>
                <i class="icon-paper" style="font-size: 2rem"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin Venue-OverView" %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Venue Overview</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-4 mb-xl-0 stretch-card transparent">
        <div class="card card-dark-blue">
          <a href="/admin/page/upload-Venue" class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div>
                <p class="mb-4">Upload View</p>
                <p class="fs-30 mb-2">NULL</p>
              </div>
              <div>
                <i class="ti ti-location-pin" style="font-size: 2rem"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-4 mb-xl-0 stretch-card transparent">
        <div class="card card-dark-blue">
          <a href="/admin/page/all-venues" class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div>
                <p class="mb-4">List Of Registerd Venues</p>
                <p class="fs-30 mb-2">NULL</p>
              </div>
              <div>
                <i class="icon-paper" style="font-size: 2rem"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% elif viewType == "Admin Event-OverView" %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Event Overview</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-4 mb-xl-0 stretch-card transparent">
        <div class="card card-dark-blue">
          <a href="/admin/page/upload_event" class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div>
                <p class="mb-4">Upload Event</p>
                <p class="fs-30 mb-2">NULL</p>
              </div>
              <div>
                <i class="ti ti-calendar" style="font-size: 2rem"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-4 mb-xl-0 stretch-card transparent">
        <div class="card card-dark-blue">
          <a href="/admin/page/all-events" class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center p-3">
              <div>
                <p class="mb-4">List Of Events</p>
                <p class="fs-30 mb-2">NULL</p>
              </div>
              <div>
                <i class="icon-paper" style="font-size: 2rem"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{%endblock %}
