{% extends "layouts/authBase.html" %} {% block title %} {% if title %} {{ title
}} {% else %} SACOETEC Property || Easiest way to find your dream home {% endif
%} {%endblock %} {% block content %} {% if viewType == "Students Login" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>Hello! let's get started</h4>
  <h6 class="font-weight-light">Sign in to continue.</h6>
  <form class="pt-3" method="post">
    <div class="form-group">
      {{ form.email() }}
    </div>
    <div class="form-group">
      {{ form.password() }}
    </div>
    <div class="my-2 d-flex justify-content-between align-items-center">
      <div class="form-check">
        <label class="form-check-label text-muted">
          <input type="checkbox" class="form-check-input" />
          Keep me signed in
        </label>
      </div>
      <a
        href="{{ url_for('auth.clientForgotPassword', userRole=userRole) }}"
        class="auth-link text-black"
        >Forgot password?</a
      >
    </div>
    <div class="mt-3">
      {{ form.submit() }}
    </div>

    <!--<div class="mb-2">
                  <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                    <i class="ti-facebook mr-2"></i>Connect using facebook
                  </button>
                </div>-->
    <div class="text-center mt-4 font-weight-light">
      Don't have an account?
      <a
        href="{{ url_for('auth.clientRegister', userRole=userRole) }}"
        class="text-primary"
        >Create</a
      >
    </div>
  </form>
</div>
{% elif viewType == "Admin Login" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>Hello! let's get started</h4>
  <h6 class="font-weight-light">Sign in to continue.</h6>
  <form class="pt-3" method="post">
    <div class="form-group">
      {{ form.email() }}
    </div>
    <div class="form-group">
      {{ form.password() }}
    </div>
    <div class="my-2 d-flex justify-content-between align-items-center">
      <div class="form-check">
        <label class="form-check-label text-muted">
          <input type="checkbox" class="form-check-input" />
          Keep me signed in
        </label>
      </div>
      <a
        href="{{ url_for('auth.clientForgotPassword', userRole=userRole) }}"
        class="auth-link text-black"
        >Forgot password?</a
      >
    </div>
    <div class="mt-3">
      {{ form.submit() }}
    </div>
  </form>
</div>
{% elif viewType == "Students Register" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img src="{{ url_for('views.static', filename='images/favicon.png') }}" alt="logo" />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>New here?</h4>
  <h6 class="font-weight-light">
    Signing up is easy. It only takes a few steps
  </h6>
  <form class="pt-3" method="post">
    <div class="form-group">
      {{ form.username() }}
    </div>
    <div class="form-group">
      {{ form.email() }}
    </div>
    <div class="form-group">
      {{ form.password() }}
    </div>
    <div class="mb-4">
      <div class="form-check">
        <label class="form-check-label text-muted">
          <input type="checkbox" class="form-check-input" />
          I agree to all Terms & Conditions
        </label>
      </div>
    </div>
    <div class="mt-3">
      {{ form.submit() }}
    </div>
    <div class="text-center mt-4 font-weight-light">
      Already have an account?
      <a href="{{ url_for('auth.clientLogin', userRole=userRole) }}" class="text-primary">Login</a>
    </div>
  </form>
</div>
{% elif viewType == "ForgotPassword" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>Forgot your password?</h4>
  <h6 class="font-weight-light">Don't worry! Enter your email, and we'll help you reset it.</h6>
  <form class="pt-3" method="post">
    <div class="form-group">
      {{ form.email() }}
    </div>
   
    <div class="mt-3">
      {{ form.submit() }}
    </div>
  </form>
</div>
{% elif viewType == "EmailVerification" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  <div class="mt-3">
    <h3 class="card-title text-center text-primary">Successfully Verified Email Address</h3>
    <p class="my-3">Kindly login back on your device, to continue your registration. Thank you.</p>
  </div>
</div>
{% elif viewType == "students_information"%}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>Hello! let's get started</h4>
  <h6 class="font-weight-light">Sign in to continue.</h6>
  <form class="pt-3" method="post">
    <div class="form-group">
      {{ form.gender() }}
    </div>

    <div class="form-group">
      {{ form.program() }}
    </div>

    <div class="form-group">
      {{ form.matric_no() }}
    </div>

    <div class="form-group">
      {{ form.department() }}
    </div>

    <div class="form-group">
      {{ form.level() }}
    </div>

    <div class="form-group">
      {{ form.phone_number() }}
    </div>

    <div class="form-group">
      {{ form.dob() }}
    </div>


    <div class="form-group">
      {{ form.state() }}
    </div>

    <div class="form-group">
      {{ form.address() }}
    </div>


    <div class="mt-3">
      {{ form.submit() }}
    </div>
  </form>
</div>
{% elif viewType == "FaceScan" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>Set Up Face Scan</h4>
  <h6 class="font-weight-light">Use your face to securely access your account. Just look at the camera and you're in!</h6>
  <!--<form class="pt-3" method="post">-->
    <div id="video-container" class="form-group">
      <!-- Webcam Video -->
      <video id="video" width="400" class="img-fluid" height="100%" style="border-radius: 10%;" autoplay></video>
      <p id="countdown"></p>
    </div>

   <!-- Preview Section -->
    <div id="preview-container">
        <img id="preview">
        <!--<button id="submit" style="display: none;">Submit Face</button>-->
    </div>


    <div class="form-group">
      <!-- Canvas to Capture Image -->
      <canvas id="canvas" style="display: none;"></canvas>
    </div>

    <div class="mt-3">
      <p id="status"></p>
    </div>

    <div class="mt-3 d-flex">
      <!-- Capture & Submit Buttons -->
      <button class="btn bg-info text-white btn-lg font-weight-medium auth-form-btn me-2" id="capture">Capture Face</button>
      <button class="btn bg-info text-white btn-lg font-weight-medium auth-form-btn ms-2" id="submit" style="display: none;">Submit Face</button>
    </div>
  <!--</form>-->
</div>
{% elif viewType == "resetPasswordVerification" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>Reset Your Password</h4>
  <h6 class="font-weight-light">Enter your new password below to regain access to your account.</h6>
  <form class="pt-3" method="post">
    <div class="form-group">
      {{ form.newPassword() }}
    </div>

    <div class="form-group">
      {{ form.confirmPassword() }}
    </div>

    <div class="mt-3">
      {{ form.submit() }}
    </div>
  </form>
</div>
{% elif viewType == "resend-verification" %}
<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo text-center">
    <img
      src="{{ url_for('views.static', filename='images/favicon.png') }}"
      width="50"
      alt="logo"
    />
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'danger' %}
            <p class="text-danger fw-bold">
              {{ message }}
            </p>
          {% else %}
            <p class="text-success fw-bold">
              {{ message }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endwith %}
  <h4>Email Not Verified?</h4>
  <h6 class="font-weight-light">Don't worry! Enter your email, and we'll help you reset it.</h6>
  <form class="pt-3" method="post">
    <div class="form-group">
      {{ form.email() }}
    </div>

    <div class="mt-3">
      {{ form.submit() }}
    </div>
  </form>
</div>
{% endif %} {%endblock %}
